.productsCards {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    
  }

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.ballsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.ballsCard img {
    width: 100px;
}

.jerseysCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px;
}

.jerseysCard img {
    width: 100px;
}
/* 
.hidden {
    display: none;
} */
  